.main-container {
    .title {
        font-weight: 900;
        text-align: center;
        margin: 5px 0;
        color: white;
    }

    .subtitle {
        text-align: center;
        margin: 5px 0;
        color: white;
    }

    .gameboard {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .gamefield {
            max-width: 350px;
            .subfield {
                cursor: pointer;
                height: 90px;
                width: 90px;
                border: 1px solid white;
            }

            .avatar-0000 {
                background-image: url("/juego-quarto/assets/img/0000.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;  
            }

            .avatar-0001 {
                background-image: url("/juego-quarto/assets/img/0001.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-0010 {
                background-image: url("/juego-quarto/assets/img/0010.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-0011 {
                background-image: url("/juego-quarto/assets/img/0011.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-0100 {
                background-image: url("/juego-quarto/assets/img/0100.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-0101 {
                background-image: url("/juego-quarto/assets/img/0101.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-0110 {
                background-image: url("/juego-quarto/assets/img/0110.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-0111 {
                background-image: url("/juego-quarto/assets/img/0111.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-1000 {
                background-image: url("/juego-quarto/assets/img/1000.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-1001 {
                background-image: url("/juego-quarto/assets/img/1001.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .avatar-1010 {
                background-image: url("/juego-quarto/assets/img/1010.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .avatar-1011 {
                background-image: url("/juego-quarto/assets/img/1011.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .avatar-1100 {
                background-image: url("/juego-quarto/assets/img/1100.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .avatar-1101 {
                background-image: url("/juego-quarto/assets/img/1101.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .avatar-1110 {
                background-image: url("/juego-quarto/assets/img/1110.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .avatar-1111 {
                background-image: url("/juego-quarto/assets/img/1111.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .gameavatar {
        margin-top: 5px;
        max-width: 400px;

        .subavatar {
            cursor: pointer;
            height: 50px;
            width: 50px;
            border: 1px solid white;

            img {
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        .avatar-fuera {
            visibility:hidden !important;
        }
    }

}
