<div class="main-container">
        <h1 class="title mat-display-2 ">Quarto</h1>


        <div class="field d-flex justify-content-center">
                <p class="current-status subtitle mat-display-1">Para comenzar oprima el botón</p>
        </div>

        <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center" style="width: 100%;">
                <select name="opcion" [(ngModel)]="opcion">
                        <option [value]="item" *ngFor="let item of listaOpcion">{{item}}</option>
                </select>
                <button (click)="startGame()" mat-raised-button color="accent" class="start-game-button">¡Empieza
                        ahora!</button>

        </div>


        <div *ngIf="this.game.gameStatus === 1" class="field d-flex justify-content-center "
                [ngStyle]="{'visibility':(seleccionado?'hidden':'visible')}">
                <div class="row ">
                        <div class="col-6 ">
                                <p class="mat-body-1" style="font-weight: 500;margin: 0 0 1px 0;font-size: small;">
                                        Ficha Seleccionada
                                </p>
                        </div>
                        <div class="col-6 ">
                                <img [src]="'./assets/img/'+this.game.avatarSelect+'.png'" style="width: 50%;">
                        </div>
                </div>
        </div>

        <div id="gameboard" *ngIf="this.game.gameStatus === 1" class="gameboard">

                <div class="gamefield container-fluid">
                        <div class="row">
                                <div id="position-0" (click)="clickSubfield($event)" position="0"
                                        class="subfield col-3"></div>
                                <div id="position-1" (click)="clickSubfield($event)" position="1"
                                        class="subfield col-3"></div>
                                <div id="position-2" (click)="clickSubfield($event)" position="2"
                                        class="subfield col-3"></div>
                                <div id="position-3" (click)="clickSubfield($event)" position="3"
                                        class="subfield col-3"></div>
                        </div>
                        <div class="row">
                                <div id="position-4" (click)="clickSubfield($event)" position="4"
                                        class="subfield col-3"></div>
                                <div id="position-5" (click)="clickSubfield($event)" position="5"
                                        class="subfield col-3"></div>
                                <div id="position-6" (click)="clickSubfield($event)" position="6"
                                        class="subfield col-3"></div>
                                <div id="position-7" (click)="clickSubfield($event)" position="7"
                                        class="subfield col-3"></div>
                        </div>
                        <div class="row">
                                <div id="position-8" (click)="clickSubfield($event)" position="8"
                                        class="subfield col-3"></div>
                                <div id="position-9" (click)="clickSubfield($event)" position="9"
                                        class="subfield col-3"></div>
                                <div id="position-10" (click)="clickSubfield($event)" position="10"
                                        class="subfield col-3"></div>
                                <div id="position-11" (click)="clickSubfield($event)" position="11"
                                        class="subfield col-3"></div>
                        </div>
                        <div class="row">
                                <div id="position-12" (click)="clickSubfield($event)" position="12"
                                        class="subfield col-3"></div>
                                <div id="position-13" (click)="clickSubfield($event)" position="13"
                                        class="subfield col-3"></div>
                                <div id="position-14" (click)="clickSubfield($event)" position="14"
                                        class="subfield col-3"></div>
                                <div id="position-15" (click)="clickSubfield($event)" position="15"
                                        class="subfield col-3"></div>
                        </div>
                </div>
        </div>

        <div id="clon"></div>

        <div *ngIf="this.game.gameStatus === 1" class="gameavatar container-fluid"
                [ngStyle]="{'visibility':(seleccionado?'visible':'hidden')}">
                <div class="row">
                        <div id="avatar-0000" (click)="clickSubAvatar($event)" avatar="0000" class="subavatar col-1.5">
                                <img src="./assets/img/0000.png" alt=""></div>
                        <div id="avatar-0001" (click)="clickSubAvatar($event)" avatar="0001" class="subavatar col-1.5">
                                <img src="./assets/img/0001.png" alt=""></div>
                        <div id="avatar-0010" (click)="clickSubAvatar($event)" avatar="0010" class="subavatar col-1.5">
                                <img src="./assets/img/0010.png" alt=""></div>
                        <div id="avatar-0011" (click)="clickSubAvatar($event)" avatar="0011" class="subavatar col-1.5">
                                <img src="./assets/img/0011.png" alt=""></div>
                        <div id="avatar-1000" (click)="clickSubAvatar($event)" avatar="1000" class="subavatar col-1.5">
                                <img src="./assets/img/1000.png" alt=""></div>
                        <div id="avatar-1001" (click)="clickSubAvatar($event)" avatar="1001" class="subavatar col-1.5">
                                <img src="./assets/img/1001.png" alt=""></div>
                        <div id="avatar-1010" (click)="clickSubAvatar($event)" avatar="1010" class="subavatar col-1.5">
                                <img src="./assets/img/1010.png" alt=""></div>
                        <div id="avatar-1011" (click)="clickSubAvatar($event)" avatar="1011" class="subavatar col-1.5">
                                <img src="./assets/img/1011.png" alt=""></div>
                </div>
                <div class="row">
                        <div id="avatar-0100" (click)="clickSubAvatar($event)" avatar="0100" class="subavatar col-1.5">
                                <img src="./assets/img/0100.png" alt=""></div>
                        <div id="avatar-0101" (click)="clickSubAvatar($event)" avatar="0101" class="subavatar col-1.5">
                                <img src="./assets/img/0101.png" alt=""></div>
                        <div id="avatar-0110" (click)="clickSubAvatar($event)" avatar="0110" class="subavatar col-1.5">
                                <img src="./assets/img/0110.png" alt=""></div>
                        <div id="avatar-0111" (click)="clickSubAvatar($event)" avatar="0111" class="subavatar col-1.5">
                                <img src="./assets/img/0111.png" alt=""></div>
                        <div id="avatar-1100" (click)="clickSubAvatar($event)" avatar="1100" class="subavatar col-1.5">
                                <img src="./assets/img/1100.png" alt=""></div>
                        <div id="avatar-1101" (click)="clickSubAvatar($event)" avatar="1101" class="subavatar col-1.5">
                                <img src="./assets/img/1101.png" alt=""></div>
                        <div id="avatar-1110" (click)="clickSubAvatar($event)" avatar="1110" class="subavatar col-1.5">
                                <img src="./assets/img/1110.png" alt=""></div>
                        <div id="avatar-1111" (click)="clickSubAvatar($event)" avatar="1111" class="subavatar col-1.5">
                                <img src="./assets/img/1111.png" alt=""></div>
                </div>
        </div>
</div>